{% extends 'base.html.twig' %}

{% block title %}Автор{% endblock %}

{% block body %}
    <h1> {{ author.Fname }} {{ author.Sname }} {{ author.Pname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ author.Sname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ author.Fname }}</td>
            </tr>
            <tr>
                <th>Отество</th>
                <td>{{ author.Pname }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Книги</h2>
    {% if author.books|length > 0 %}
        <ul>
        {% for book in author.books %}
            <li>
                <a href="{{ path('app_book_show', {'id': book.id}) }}">{{ book.Name }}</a> ({{ book.Year }}) ISBN: {{ book.ISBN }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>У этого автора нет книг</p>
    {% endif %}

    
    <button onclick="window.location.href='{{ path('app_author_index') }}'">К списку авторов</button>

    <button onclick="window.location.href='{{ path('app_author_edit', {'id': author.id}) }}'", style="background-color: #4682B4; color: white;">Редактировать карточку автора</button>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
