{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}
    <h1>Список книг</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Год</th>
                <th>ISBN</th>
                <th>Количество страниц</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.Name }}</td>
                <td>{{ book.Year }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.Pages }}</td>
                <td>
                    <button onclick="window.location.href='{{ path('app_book_show', {'id': book.id}) }}'">Посмотреть</button>
                    <button onclick="window.location.href='{{ path('app_book_edit', {'id': book.id}) }}'">Редактировать</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='{{ path('app_book_new') }}'">Добавить новую книгу</button>
{% endblock %}
