{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ book.Name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ book.Year }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ book.Pages }}</td>
            </tr>
        </tbody>
    </table>

     <h2>Authors</h2>
    {% if book.authors|length > 0 %}
        <ul>
        {% for author in book.authors %}
            <li>
                {{ author.Fname }} {{ author.Sname }} {{ author.Pname }}
                <a href="{{ path('app_author_show', {'id': author.id}) }}">View</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No authors associated with this book.</p>
    {% endif %}

    <a href="{{ path('app_book_index') }}">back to list</a>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
