{% extends 'base.html.twig' %}

{% block title %}Книга{% endblock %}

{% block body %}
    <h1>Книга</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ book.Name }}</td>
            </tr>
            <tr>
                <th>Год издания</th>
                <td>{{ book.Year }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Количество страниц</th>
                <td>{{ book.Pages }}</td>
            </tr>
        </tbody>
    </table>

     <h2>Авторы</h2>
    {% if book.authors|length > 0 %}
        <ul>
        {% for author in book.authors %}
            <li>
                <a href="{{ path('app_author_show', {'id': author.id}) }}">{{ author.Fname }} {{ author.Sname }} {{ author.Pname }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет авторов, связанных с этой книгой.</p>
    {% endif %}

    <button onclick="window.location.href='{{ path('app_book_index') }}'">К списку книг</button>

    <button onclick="window.location.href='{{ path('app_book_edit', {'id': book.id}) }}'">Редактировать</button>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
